<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model_1"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<booleanAttribute key="distributedTLC" value="false"/>
<stringAttribute key="distributedTLCScript" value=""/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="maxHeapSize" value="500"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="eParen, tpregion, minDepth, i, allExpr, pc, curBegin, curDepth, lastRparen, rtok, result, bParen, rtokDepth, ltok"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants"/>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="1Termination"/>
</listAttribute>
<stringAttribute key="modelExpressionEval" value="IsTPMap(tpMap1)"/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="defaultInitValue;;defaultInitValue;1;0"/>
<listEntry value="tpRegion;;tpRegion1;0;0"/>
<listEntry value="tpMap;;tpMap1;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="1"/>
<booleanAttribute key="recover" value="false"/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="TLAToPCal"/>
<listAttribute key="traceExploreExpressions">
<listEntry value="1pc = &quot;Lbl_2&quot; =&gt; &#13;&#10;ParenDepth(tpSpec, rtok) = ParenDepth(tpSpec, ltok) + rtokDepth"/>
<listEntry value="1pc = &quot;Lbl_2&quot; =&gt;&#13;&#10;minDepth + ParenDepth(tpSpec, ltok) =&#13;&#10;                  Min({ParenDepth(tpSpec, k) : k \in ltok..rtok})"/>
</listAttribute>
<stringAttribute key="view" value=""/>
</launchConfiguration>
