<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands contributed by the TLC model checker"
            id="toolbox.tool.tlc.commands.category"
            name="TLC Commands">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="toolbox.tool.tlc.commands.category"
            class="org.lamport.tla.toolbox.tool.tlc.ui.trace.TLCTraceViewer"
            icon="icons/ldebug_obj.gif"
            id="org.lamport.tla.toolbox.tool.tlc.ui.trace.TLCTraceViewer"
            name="TLC Trace File Viewer"
            restorable="false">
      </view>
   </extension>
</plugin>
