<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.lamport.tla.toolx.tlc.job">
      <factory
            clazz="org.lamport.tla.toolbox.jcloud.CloudTLCJobFactory">
      </factory>
   </extension>
   
   <extension
         id="org.lamport.tla.toolbox.jclouds.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.lamport.tla.toolbox.jcloud.Application">
         </run>
      </application>
   </extension>
   
   
<!--
  NCE definition
 -->   


<!-- Model marker for marking models in use -->
</plugin>
