<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="org.lamport.tla.toolbox.tool.prover.ui.handler.CheckProofHandler"
            description="Checks the proof step containing the caret in the active editor or the entire module if the caret is not at a step"
            id="org.lamport.tla.toolbox.tool.prover.ui.checkStep.delegate"
            name="Prove Step or Module">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="org.lamport.tla.toolbox.tool.prover.ui.handler.StatusStepHandler"
            description="Gets the status of the proof step (and sub-steps) containing the caret in the active editor or the entire module if the caret is not at a step"
            id="org.lamport.tla.toolbox.tool.prover.ui.statusStep"
            name="Check Status of Step or Module">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="org.lamport.tla.toolbox.tool.prover.ui.handler.GeneralLaunchProverHandler"
            description="Opens a dialog with a variety of options with which to launch the prover"
            id="org.lamport.tla.toolbox.tool.prover.ui.launchProver"
            name="Launch Prover...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=foldCommands">
         <command
               commandId="org.lamport.tla.toolbox.tool.prover.ui.checkStep.delegate"
               style="push">
         </command>
         <command
               commandId="org.lamport.tla.toolbox.tool.prover.ui.statusStep"
               style="push">
         </command>
         <command
               commandId="org.lamport.tla.toolbox.tool.prover.ui.launchProver"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=toolbox.tools.separator">
         <menu
               id="toolbox.toolmenus.tlapm"
               label="TLA Proof Manager"
               mnemonic="M"
               tooltip="TLA Proof Manager Actions">
            <command
                  commandId="toolbox.command.openview"
                  label="TLAPM Console"
                  style="push">
               <parameter
                     name="toolbox.openview.name"
                     value="org.eclipse.ui.console.ConsoleView">
               </parameter>
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <not>
                        <equals
                              value="org.lamport.tla.toolbox.ui.perspective.initial">
                        </equals>
                     </not>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="toolbox.command.openview"
                  label="Interesting Obligations"
                  style="push">
               <parameter
                     name="toolbox.openview.name"
                     value="org.lamport.tla.toolbox.tool.prover.ui.rejectedObligations">
               </parameter>
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <not>
                        <equals
                              value="org.lamport.tla.toolbox.ui.perspective.initial">
                        </equals>
                     </not>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.lamport.tla.toolbox.tool.prover.ui.TLAPMConsoleFactory"
            label="TLAPM Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor1A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor1A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor1B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor1B">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor2A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor2A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor2B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor2B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor3A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor3A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor3B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor3B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor4A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor4A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor4B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor4B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor5A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor5A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor5B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor5B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor6A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor6A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor6B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor6B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor7A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor7A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor7B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor7B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor8A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor8A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor8B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor8B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor9A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor9A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor9B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor9B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor10A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor10A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor10B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor10B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor11A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor11A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor11B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor11B">
      </type>
 
       <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor12A"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor12A">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.stepColor12B"
            name="org.lamport.tla.toolbox.tool.prover.ui.StepColor12B">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor1A"
            colorPreferenceKey="stepStatusColor1"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight1A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 1A"
            overviewRulerPreferenceKey="stepStatusOverview1A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText1A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical1A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor1B"
            colorPreferenceKey="stepStatusColor1"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight1B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 1B"
            overviewRulerPreferenceKey="stepStatusOverview1B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText1B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical1B"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor2A"
            colorPreferenceKey="stepStatusColor2"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight2A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 2A"
            overviewRulerPreferenceKey="stepStatusOverview2A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText2A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical2A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor2B"
            colorPreferenceKey="stepStatusColor2"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight2B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 2B"
            overviewRulerPreferenceKey="stepStatusOverview2B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText2B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical2B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor3A"
            colorPreferenceKey="stepStatusColor3"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight3A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 3A"
            overviewRulerPreferenceKey="stepStatusOverview3A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText3A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical3A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor3B"
            colorPreferenceKey="stepStatusColor3"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight3B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 3B"
            overviewRulerPreferenceKey="stepStatusOverview3B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText3B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical3B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor4A"
            colorPreferenceKey="stepStatusColor4"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight4A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 4A"
            overviewRulerPreferenceKey="stepStatusOverview4A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText4A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical4A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor4B"
            colorPreferenceKey="stepStatusColor4"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight4B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 4B"
            overviewRulerPreferenceKey="stepStatusOverview4B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText4B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical4B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor5A"
            colorPreferenceKey="stepStatusColor5"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight5A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 5A"
            overviewRulerPreferenceKey="stepStatusOverview5A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText5A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical5A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor5B"
            colorPreferenceKey="stepStatusColor5"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight5B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 5B"
            overviewRulerPreferenceKey="stepStatusOverview5B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText5B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical5B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor6A"
            colorPreferenceKey="stepStatusColor6"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight6A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 6A"
            overviewRulerPreferenceKey="stepStatusOverview6A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText6A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical6A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor6B"
            colorPreferenceKey="stepStatusColor6"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight6B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 6B"
            overviewRulerPreferenceKey="stepStatusOverview6B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText6B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical6B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor7A"
            colorPreferenceKey="stepStatusColor7"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight7A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 7A"
            overviewRulerPreferenceKey="stepStatusOverview7A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText7A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical7A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor7B"
            colorPreferenceKey="stepStatusColor7"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight7B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 7B"
            overviewRulerPreferenceKey="stepStatusOverview7B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText7B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical7B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor8A"
            colorPreferenceKey="stepStatusColor8"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight8A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 8A"
            overviewRulerPreferenceKey="stepStatusOverview8A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText8A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical8A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor8B"
            colorPreferenceKey="stepStatusColor8"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight8B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 8B"
            overviewRulerPreferenceKey="stepStatusOverview8B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText8B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical8B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor9A"
            colorPreferenceKey="stepStatusColor9"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight9A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 9A"
            overviewRulerPreferenceKey="stepStatusOverview9A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText9A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical9A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor9B"
            colorPreferenceKey="stepStatusColor9"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight9B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 9B"
            overviewRulerPreferenceKey="stepStatusOverview9B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText9B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical9B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor10A"
            colorPreferenceKey="stepStatusColor10"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight10A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 10A"
            overviewRulerPreferenceKey="stepStatusOverview10A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText10A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical10A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor10B"
            colorPreferenceKey="stepStatusColor10"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight10B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 10B"
            overviewRulerPreferenceKey="stepStatusOverview10B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText10B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical10B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor11A"
            colorPreferenceKey="stepStatusColor11"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight11A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 11A"
            overviewRulerPreferenceKey="stepStatusOverview11A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText11A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical11A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor11B"
            colorPreferenceKey="stepStatusColor11"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight11B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 11B"
            overviewRulerPreferenceKey="stepStatusOverview11B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText11B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical11B"
            verticalRulerPreferenceValue="false">
      </specification>
 
     <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor12A"
            colorPreferenceKey="stepStatusColor12"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight12A"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 12A"
            overviewRulerPreferenceKey="stepStatusOverview12A"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText12A"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical12A"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.StepColor12B"
            colorPreferenceKey="stepStatusColor12"
            colorPreferenceValue="0,0,0"
            highlightPreferenceKey="stepStatusHighlight12B"
            highlightPreferenceValue="true"
            includeOnPreferencePage="false"
            label="Color 12B"
            overviewRulerPreferenceKey="stepStatusOverview12B"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="stepStatusText12B"
            textPreferenceValue="true"
            verticalRulerPreferenceKey="stepStatusVertical12B"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.lamport.tla.toolbox.tool.prover.ui.view.ObligationsView"
            id="org.lamport.tla.toolbox.tool.prover.ui.rejectedObligations"
            name="Interesting Obligations"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.spec">
      <participant
            class="org.lamport.tla.toolbox.tool.prover.ui.util.ProverSpecLifecycleParticipant">
      </participant>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.obligation"
         name="Obligation information"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obId">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obStatus">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obMethod">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obString">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lamport.tla.toolbox.tool.prover.ui.checkStep.delegate"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+G">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.tool.prover.ui.statusStep"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+T">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.tool.prover.ui.launchProver"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+R">
      </key>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.tool">
      <participant
            class="org.lamport.tla.toolbox.tool.prover.ProverToolboxLifecycleParticipant">
      </participant>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.sanyMarker"
         name="SANY Step Location Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.ui.sanyLoc">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.ui.isLeafStep">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.lamport.tla.toolbox.tool.prover.ui.preference.ProverPreferencePage"
            id="org.lamport.tla.toolbox.tool.prover.ProverPreferencePage"
            name="TLAPS Preferences">
      </page>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus"
         name="Super type representing the status of a proof step"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor1A"
         name="Logical color 1 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor1B"
         name="Logical color 1 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor2A"
         name="Logical color 2 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor2B"
         name="Logical color 2 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor3A"
         name="Logical color 3 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor3B"
         name="Logical color 3 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor4A"
         name="Logical color 4 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor4B"
         name="Logical color 4 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor5A"
         name="Logical color 5 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor5B"
         name="Logical color 5 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor6A"
         name="Logical color 6 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor6B"
         name="Logical color 6 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor7A"
         name="Logical color 7 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor7B"
         name="Logical color 7 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor8A"
         name="Logical color 8 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor8B"
         name="Logical color 8 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor9A"
         name="Logical color 9 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor9B"
         name="Logical color 9 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor10A"
         name="Logical color 10 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor10B"
         name="Logical color 10 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor11A"
         name="Logical color 11 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor11B"
         name="Logical color 11 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
 
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor12A"
         name="Logical color 12 for non-leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.stepColor12B"
         name="Logical color 12 for leaf step statuses"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
