<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            defaultHandler="org.lamport.tla.toolbox.tool.prover.ui.handler.CheckProofHandler"
            description="Checks the proof step containing the caret in the active editor"
            id="org.lamport.tla.toolbox.tool.prover.ui.checkStep.delegate"
            name="Check Proof Step">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext?after=foldCommands">
         <command
               commandId="org.lamport.tla.toolbox.tool.prover.ui.checkStep.delegate"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=toolbox.tools.separator">
         <menu
               id="toolbox.toolmenus.tlapm"
               label="TLA Proof Manager"
               mnemonic="M"
               tooltip="TLA Proof Manager Actions">
            <command
                  commandId="toolbox.command.openview"
                  label="TLAPM Console"
                  style="push">
               <parameter
                     name="toolbox.openview.name"
                     value="org.eclipse.ui.console.ConsoleView">
               </parameter>
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <not>
                        <equals
                              value="org.lamport.tla.toolbox.ui.perspective.initial">
                        </equals>
                     </not>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="toolbox.command.openview"
                  label="Interesting Obligations"
                  style="push">
               <parameter
                     name="toolbox.openview.name"
                     value="org.lamport.tla.toolbox.tool.prover.ui.rejectedObligations">
               </parameter>
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <not>
                        <equals
                              value="org.lamport.tla.toolbox.ui.perspective.initial">
                        </equals>
                     </not>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.lamport.tla.toolbox.tool.prover.ui.TLAPMConsoleFactory"
            label="TLAPM Console">
      </consoleFactory>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.fullyCheckedStep"
         name="All obligations have proofs that are checked"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.checkedOrExplicitOmitStep"
         name="All obligations have proofs or explicit proof omitted that are checked"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.writtenProofsCheckedStep"
         name="All written proofs are checked for a step"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.obligationFailedForStep"
         name="There exists an obligation whose proof failed"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus">
      </super>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.ui.proofStepStatus"
         name="Super type representing the status of a proof step"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.fullyCheckedStep"
            name="org.lamport.tla.toolbox.tool.prover.ui.fullyCheckedStep">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.checkedOrExplicitOmitStep"
            name="org.lamport.tla.toolbox.tool.prover.ui.checkedOrExplicitOmitStep">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.writtenProofsCheckedStep"
            name="org.lamport.tla.toolbox.tool.prover.ui.writtenProofsCheckedStep">
      </type>
      <type
            markerType="org.lamport.tla.toolbox.tool.prover.ui.obligationFailedForStep"
            name="org.lamport.tla.toolbox.tool.prover.ui.obligationFailedForStep">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.fullyCheckedStep"
            colorPreferenceKey="fcsCPK"
            colorPreferenceValue="0,255,0"
            highlightPreferenceKey="fcsHPK"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Fully Checked Step"
            overviewRulerPreferenceKey="fcsORPK"
            textPreferenceKey="fcsTPK"
            textPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.checkedOrExplicitOmitStep"
            colorPreferenceKey="steoCPK"
            colorPreferenceValue="255,255,0"
            highlightPreferenceKey="steoHPK"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Step Checked or Explicit Omit"
            overviewRulerPreferenceKey="steoORPK"
            textPreferenceKey="steoTPK"
            textPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.writtenProofsCheckedStep"
            colorPreferenceKey="wpcCPK"
            colorPreferenceValue="255, 200, 0"
            highlightPreferenceKey="wpcHPK"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Written Proofs Checked"
            overviewRulerPreferenceKey="wpcORPK"
            textPreferenceKey="wpcTPK"
            textPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.lamport.tla.toolbox.tool.prover.ui.obligationFailedForStep"
            colorPreferenceKey="offsCPK"
            colorPreferenceValue="255,0,0"
            highlightPreferenceKey="offsHPK"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Obligation Failed For Step"
            overviewRulerPreferenceKey="offsORPK"
            textPreferenceKey="offsTPK"
            textPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.lamport.tla.toolbox.tool.prover.ui.view.ObligationsView"
            id="org.lamport.tla.toolbox.tool.prover.ui.rejectedObligations"
            name="Interesting Obligations"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.spec">
      <participant
            class="org.lamport.tla.toolbox.tool.prover.ui.util.ClearObMarkersSpecLifecycleParticipant">
      </participant>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tool.prover.obligation"
         name="Obligation information"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obId">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obStatus">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obMethod">
      </attribute>
      <attribute
            name="org.lamport.tla.toolbox.tool.prover.obString">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lamport.tla.toolbox.tool.prover.ui.checkStep.delegate"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+G">
      </key>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.tool">
      <participant
            class="org.lamport.tla.toolbox.tool.prover.ProverToolboxLifecycleParticipant">
      </participant>
   </extension>

</plugin>
