bin/
class/
test-class/
dist/
test-bin/
*/screenshots
*/target/
*.jar
*/farsite/*.pdf
examples/DieHard/*.toolbox
org.lamport.tla.toolbox.uitest/farsite/DistributedSystemModule.toolbox/
tlatools/TLA+ Tools
tlatools/test-reports
tlatools/ByteUtilsTest*.bin
*.csv
org.lamport.tla.toolbox.product.product/plugin_customization.ini
examples/*/states/
general/performance/states/
workspace/
states/