bin/
class/
test-class/
.apt_generated/
dist/
test-bin/
*/screenshots
toolbox/*/target/
tlatools/*/target
*.jar
toolbox/*/farsite/*.pdf
examples/DieHard/*.toolbox
org.lamport.tla.toolbox.uitest/farsite/DistributedSystemModule.toolbox/
tlatools/org.lamport.tlatools/TLA+ Tools
tlatools/org.lamport.tlatools/test-reports
tlatools/org.lamport.tlatools/ByteUtilsTest*.bin
tlatools/org.lamport.tlatools/states/
*.csv
toolbox/org.lamport.tla.toolbox.product.product/plugin_customization.ini
examples/*/states/
general/performance/states/
toolbox/org.lamport.tla.toolbox.jnlp/files/dist-tlc.zip
workspace/
states/
states
tlatools/states
.DS_Store
screenshots/
ajcore.*.txt
tlatools/org.lamport.tlatools/test-model/CodePlexBug08/checkpoint/
tlatools/org.lamport.tlatools/test-model/CallGotoUnlabeledTest.old
junit[0-9]*.properties
junitvmwatcher[0-9]*.properties
test.jfr
*.jfr
