<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="maxHeapSize" value="500"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value=""/>
<intAttribute key="modelBehaviorSpecType" value="0"/>
<stringAttribute key="modelBehaviorVars" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants"/>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value="&lt;&lt; Sum( &lt;&lt;2, 3, 4&gt;&gt; ),&#13;&#10;   Product (&lt;&lt; 4, 3, 2 &gt;&gt;),&#13;&#10;   IsNumbering,&#13;&#10;   StateEnumerationAssumption &gt;&gt;&#13;&#10; "/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="ProofStatesSpec;;&lt;&lt; &lt;&lt; &quot;s1&quot;, &quot;s2&quot; &gt;&gt;, &#13;&#10;   &lt;&lt; &quot;s3&quot; &gt;&gt;, &#13;&#10;   &lt;&lt;&quot;s1&quot;, &quot;s2&quot;, &quot;s4&quot; &gt;&gt;,&#13;&#10;   &lt;&lt;&quot;s3&quot;, &quot;s4&quot;&gt;&gt;&#13;&#10;&gt;&gt;;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions"/>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="1"/>
<booleanAttribute key="recover" value="false"/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="ProofStatus"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
