<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.lamport.toolbox.tool" name="Tool" schema="schema/org.lamport.toolbox.tool.exsd"/>
<!--                                   -->
<!-- Perspectives                      -->
<!--                                   -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SpecLoaded Perspective"
            class="org.lamport.tla.toolbox.ui.perspective.SpecLoadedPerspective"
            id="org.lamport.tla.toolbox.ui.perspective.specLoaded">
      </perspective>
      <perspective
            class="org.lamport.tla.toolbox.ui.perspective.InitialPerspective"
            id="org.lamport.tla.toolbox.ui.perspective.initial"
            name="Initial Perspective">
      </perspective>
      <perspective
            class="org.lamport.tla.toolbox.ui.perspective.ProblemsPerspective"
            id="org.lamport.tla.toolbox.ui.perspective.problems"
            name="Problems Perspective">
      </perspective>
   </extension>
   
<!--                                   -->
<!-- Views to be displayed to the user -->
<!--                                   -->
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.lamport.tla.toolbox.category"
            class="org.lamport.tla.toolbox.ui.view.WelcomeView"
            icon="icons/full/eview16/console_view2.gif"
            id="toolbox.view.WelcomeView"
            name="Welcome">
      </view>
      <view
            allowMultiple="false"
            category="org.lamport.tla.toolbox.category"
            class="org.lamport.tla.toolbox.ui.view.SpecLoadedView"
            icon="icons/full/eview16/console_view2.gif"
            id="toolbox.view.SpecLoadedView"
            name="Specification Loaded">
      </view>
      <view
            allowMultiple="false"
            category="org.lamport.tla.toolbox.category"
            class="org.lamport.tla.toolbox.ui.view.ProblemView"
            icon="icons/full/eview16/console_view2.gif"
            id="toolbox.view.ProblemView"
            name="Problems">
      </view>
      <view
            allowMultiple="false"
            category="org.lamport.tla.toolbox.category"
            class="org.lamport.tla.toolbox.ui.view.ProblemMarkerView"
            icon="icons/full/eview16/console_view2.gif"
            id="toolbox.view.ProblemMarkerView"
            name="Problem Markers"
            restorable="true">
      </view>
      <category
            id="org.lamport.tla.toolbox.category"
            name="TLA+ Toolbox">
      </category>
   </extension>
      
<!--                                   -->
<!-- Wizards : New Spec                -->
<!--                                   -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="TLA+"
            id="toolbox.wizard"/>
      <wizard
            class="org.lamport.tla.toolbox.ui.wizard.NewSpecWizard"
            category="toolbox.wizard"
            project="true"
            name="TLA+ Specification"
            id="toolbox.wizard.NewSpecWizard">
         <description/>
      </wizard>
   </extension>
   
<!--                                   -->
<!-- Commands                          -->
<!--                                   -->
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Speicification Commands"
            id="toolbox.command.category.spec"
            name="Spec">
      </category>
      <command
            categoryId="toolbox.command.category.spec"
            description="Create a new specification"
            id="toolbox.command.spec.new"
            name="New Specification">
      </command>
      <command
            categoryId="toolbox.command.category.spec"
            description="Open the specification"
            id="toolbox.command.spec.open"
            name="Open Specification">
         <commandParameter
               id="toolbox.command.spec.open.param"
               name="specName"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="toolbox.command.category.spec"
            description="Close the specification"
            id="toolbox.command.spec.close"
            name="Close Specification">
      </command>
      <category
            description="Module Commands"
            id="toolbox.command.category.module"
            name="Module">
      </category>
      <command
            categoryId="toolbox.command.category.module"
            description="Add a new or existing TLA+ module"
            id="toolbox.command.module.add"
            name="Add Module">
      </command>
      <command
            categoryId="toolbox.command.category.module"
            description="Open a TLA+ Module"
            id="toolbox.command.module.open"
            name="Open a TLA+ module">
         <commandParameter
               id="toolbox.command.module.open.param"
               name="moduleName"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="toolbox.command.category.module"
            description="Parse specification root module"
            id="toolbox.command.module.parse.root"
            name="Parse Root Module">
      </command>
      <command
            categoryId="toolbox.command.category.module"
            description="Parse module in the active editor"
            id="toolbox.command.module.parse.active"
            name="Parse Module">
      </command>
      <category
            description="UI Commands"
            id="toolbox.command.category.ui"
            name="UI">
      </category>
      <command
            categoryId="toolbox.command.category.ui"
            description="Toggles Problem View"
            id="toolbox.command.toggle-problem-view"
            name="Toggle Problem View">
      </command>
      <command
            categoryId="toolbox.command.category.ui"
            description="Calls the Help window"
            id="toolbox.command.help"
            name="Help">
      </command>
      <keyBinding
            commandId="org.eclipse.ui.file.exit"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+Q">
      </keyBinding>
      <keyBinding
            commandId="toolbox.command.help11"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="F1">
      </keyBinding>
      <keyBinding
            commandId="toolbox.command.module.parse.root"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="M1+R">
      </keyBinding>
   </extension>
      
<!--                                   -->
<!-- Menus                             -->
<!--                                   -->   
   <extension
         point="org.eclipse.ui.menus">
      <!-- file menu spec part -->
      <menuContribution
            locationURI="menu:toolbox.file.menu?after=toolbox.file.spec.separator">
         <command
               commandId="toolbox.command.spec.new"
               id="toolbox.menu.spec.new"
               label="New Spec..."
               mnemonic="N">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.initial">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <menu
               id="toolbox.menu.spec.open"
               label="Open Spec"
               mnemonic="O">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.initial">
                  </equals>
               </with>
            </visibleWhen>
            <dynamic
                  class="org.lamport.tla.toolbox.ui.contribution.SpecListContributionItem"
                  id="toolbox.menu.spec.open.dynamic">
            </dynamic>
         </menu>
         <command
               commandId="toolbox.command.spec.close"
               id="toolbox.file.close"
               label="Close Spec"
               mnemonic="C"
               style="push"
               tooltip="Close current specification">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.specLoaded">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         
      </menuContribution>
      <menuContribution
            locationURI="menu:toolbox.file.menu?after=toolbox.file.module.separator">
         <menu
               id="toolbox.menu.module.open"
               label="Open Module"
               mnemonic="M"
               tooltip="Open a TLA+ Module">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.specLoaded">
                  </equals>
               </with>
            </visibleWhen>
            <dynamic
                  class="org.lamport.tla.toolbox.ui.contribution.ModuleListContributionItem"
                  id="toolbox.menu.module.open.dynamic">
            </dynamic>
         </menu>
      </menuContribution>


      <menuContribution
            locationURI="menu:toolbox.file.menu?after=additions">
         <command
               commandId="org.eclipse.ui.window.preferences"
               id="toolbox.file.preferences"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <not>
                     <equals
                           value="org.lamport.tla.toolbox.ui.perspective.problems">
                     </equals>
                  </not>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <!-- file menu module part -->
      
      <!-- edit menu -->
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=toolbox.file.menu">
         <menu
               label="Edit"
               mnemonic="E">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.specLoaded">
                  </equals>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.ui.edit.undo">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo">
            </command>
            <separator
                  name="toolbox.edit.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy"
                  >
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste">
            </command>
            <separator
                  name="toolbox.edit.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll"
                  >
            </command>
            <separator
                  name="toolbox.edit.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace">
            </command>
         </menu>
      </menuContribution>

      <menuContribution
            locationURI="menu:toolbox.tools.menu?before=toolbox.tools.separator">
         <command
               commandId="toolbox.command.module.parse.root"
               id="toolbox.menu.run.parseRoot"
               label="Parse Spec"
               mnemonic="P">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.specLoaded">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="toolbox.command.module.parse.active"
               id="toolbox.menu.run.parseRoot"
               label="Parse Module"
               mnemonic="M">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.lamport.tla.toolbox.ui.perspective.specLoaded">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="toolbox.command.help"
               id="toolbox.menu.help"
               label="Help"
               mnemonic="H"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Opens the help">
         </command>
      </menuContribution>
<!--
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="toolbox.toolbar.status">
         <control
               class="org.lamport.tla.toolbox.ui.contribution.ParseStatusContribution"
               id="toolbox.parse.status.control">
                        <visibleWhen
               checkEnabled="true">
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.lamport.tla.toolbox.ui.perspective.specLoaded">
               </equals>
            </with>
         </visibleWhen>
               
         </control>
         </toolbar>
      </menuContribution>
-->
   </extension>
   
<!--              -->
<!-- Handler      -->
<!--              -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.lamport.tla.toolbox.ui.handler.NewSpecHandler"
            commandId="toolbox.command.spec.new">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.ParseSpecHandler"
            commandId="toolbox.command.module.parse.root">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.CloseSpecHandler"
            commandId="toolbox.command.spec.close">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.OpenSpecHandler"
            commandId="toolbox.command.spec.open">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.ToggleProblemViewHandler"
            commandId="toolbox.command.toggle-problem-view">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.OpenModuleHandler"
            commandId="toolbox.command.module.open">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.ParseModuleHandler"
            commandId="toolbox.command.module.parse.active">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.AddModuleHandler"
            commandId="toolbox.command.module.add">
      </handler>
      <handler
            class="org.lamport.tla.toolbox.ui.handler.HelpHandler"
            commandId="toolbox.command.help">
      </handler>

   </extension>
   
   <!-- Adapters -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.lamport.tla.toolbox.spec.Spec"
            class="org.lamport.tla.toolbox.util.AdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
<!--
	Parser Builder
-->
   <extension
   		 id="toolbox.builder.TLAParserBuilder"
   		 name="TLA+ Syntax Parser"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.lamport.tla.toolbox.spec.nature.TLAParsingBuilder">
         </run>
      </builder>
   </extension>
<!--
  Nature defintion
-->
   <extension
         id="toolbox.natures.TLANature"
         name="TLA+ Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.lamport.tla.toolbox.spec.nature.TLANature">
         </run>
      </runtime>
      <builder
            id="toolbox.builder.TLAParserBuilder">
      </builder>
   </extension>

<!--
 Problem marker definition 
-->
   <extension
         id="toolbox.markers.TLAParserProblemMarker"
         name="TLA Parse Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="toolbox.location.modulename">
      </attribute>
      <attribute
            name="toolbox.location.beginline">
      </attribute>
      <attribute
            name="toolbox.location.endline">
      </attribute>
      <attribute
            name="toolbox.location.begincolumn">
      </attribute>
      <attribute
            name="toolbox.location.endcolumn">
      </attribute>
   </extension>
<!--
  Marker resolution
-->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
         <markerResolutionGenerator
         	class="org.lamport.tla.toolbox.util.TLAMarkerResolutionGenerator"
         	markerType="toolbox.markers.TLAParserProblemMarker" />
   </extension>
   
<!--
  Marker Image Provider
-->   
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
		<imageprovider
        icon="icons/full/obj16/error_tsk.gif"
        id="toolbox.declarativeMarkerProvider"
        markertype="toolbox.markers.TLAParserProblemMarker">
		</imageprovider>
   </extension>
<!-- 
	Marker Content Generator
-->
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="toolbox.markers.contentGenerator"
            name="TLA+ Marker Generator">
		<markerTypeReference id="toolbox.markers.TLAParserProblemMarker" />
		<markerFieldReference id="org.eclipse.ui.ide.resourceField"/>
        <markerFieldReference id="org.eclipse.ui.ide.descriptionField"/>
		<markerFieldReference id="org.eclipse.ui.ide.locationField"/>
		<markerFieldReference id="org.eclipse.ui.ide.priorityField"/>
        <!-- markerFieldReference id="org.eclipse.ui.ide.markerType"/ -->
   		<!-- markerFieldReference id="org.eclipse.ui.ide.priorityField"/ -->
		<!-- markerFieldReference id="org.eclipse.ui.ide.descriptionField"/ -->		          
      </markerContentGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.lamport.tla.toolbox.ui.preference.GeneralPreferencePage"
            id="toolbox.ui.preferences.GeneralPreferencePage"
            name="TLA+ Preferences">
      </page>
      <page
            class="org.lamport.tla.toolbox.ui.preference.ParserPreferencePage"
            id="toolbox.ui.preferences.ParserPreferencePage"
            name="Parser Preferences"
            category="toolbox.ui.preferences.GeneralPreferencePage">
            <keywordReference id="toolbox.keywords.Parser"/>
      </page>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lamport.tla.toolbox.util.pref.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
     point="org.eclipse.ui.keywords">
    <keyword
            label="TLA+ Syntax Analyser"
            id="toolbox.keywords.Parser"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="toolbox.command.toggle-problem-view"
            contextId="toolbox.contexts.cleaneditor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Clean Editor"
            id="toolbox.contexts.cleaneditor"
            name="Clean Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="helpContexts.xml"
            plugin="org.lamport.tla.toolbox">
      </contexts>
   </extension>   
</plugin>
