Package: TLA+Toolbox
Version: [[product.version]]~[[product.build]]
Section: misc
Distribution: development
Priority: optional
Depends: default-jre (>= 1.7)
Architecture: amd64
Description: The TLA Toolbox is an IDE (integrated development environment) for the TLA+ tools.
Maintainer: tlaplus@googlegroups.com
