<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.lamport.tla.toolbox.tlc.processOutputSink" name="TLC Process Output Sink" schema="schema/org.lamport.tla.toolbox.tlc.processOutputSink.exsd"/>
   <extension-point id="org.lamport.tla.toolbox.tlc.processResultPresenter" name="TLC Process Result Presenter" schema="schema/org.lamport.tla.toolbox.tlc.processResultPresenter.exsd"/>
   
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.lamport.tla.toolbox.tool.tlc.modelCheck"
            delegate="org.lamport.tla.toolbox.tool.tlc.launch.TLCModelLaunchDelegate"
            modes="modelcheck, generate"
            name="TLC Modelcheck"
            public="true"
            delegateName="TLC ModelChecker"
            delegateDescription="TLC Model Checker is usefull to find bugs in the specification"
      >
      </launchConfigurationType>
   </extension>
   
   <extension point="org.eclipse.debug.core.launchModes">
      <launchMode mode="modelcheck" label="Model Check" launchAsLabel="Check As"></launchMode>
      <launchMode
            label="Generate Model"
            launchAsLabel="Model Generation"
            mode="generate">
      </launchMode>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tlc.modelMarker"
         name="Model Is Running Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="modelIsRunning">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tlc.crashedModelMarker"
         name="Crashed Model Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.tlc.modelErrorMarker"
         name="Model Error Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="attributeName">
      </attribute>
      <attribute
            name="attributeIndex">
      </attribute>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.tool">
      <participant
            class="org.lamport.tla.toolbox.tool.tlc.TLCLifecycleParticipant">
      </participant>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.spec">
      <participant
            class="org.lamport.tla.toolbox.tool.tlc.TLCSpecLifeCycleParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="toolbox.tlc.hasModelRunningMarker">
	         <test
	               args="org.lamport.tla.toolbox.tlc.modelMarker, modelIsRunning"
	               property="toolbox.property.hasMarker"
	               value="true">
	         </test>
      </definition>
      <definition
            id="toolbox.tlc.hasModelCrashedMarker">
         <test
               args="org.lamport.tla.toolbox.tlc.crashedModelMarker"
               property="toolbox.property.hasMarker"
               value="-1">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
            class="org.lamport.tla.toolbox.tool.tlc.expression.MarkerPropertyTester"
            id="toolbox.propertyTester.MarkerTester"
            namespace="toolbox.property"
            properties="hasMarker"
            type="org.eclipse.debug.core.ILaunchConfiguration">
		</propertyTester>
   </extension>
   <extension
         point="org.lamport.tla.toolbox.tlc.processOutputSink">
      <sink
            class="org.lamport.tla.toolbox.tool.tlc.output.internal.FileProcessOutputSink">
      </sink>
   </extension>
<!--
  NCE definition
 -->   


<!-- Model marker for marking models in use -->
</plugin>
