<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.lamport.tla.toolbox.editor.basic.TLAEditor"
            name="TLA+ Basic Editor"
            extensions="tla"
            icon="icons/tla_obj.gif"
            contributorClass="org.lamport.tla.toolbox.editor.basic.TLAEditorActionContributor"
            class="org.lamport.tla.toolbox.editor.basic.TLAEditor">
      </editor>
      <editor
            class="org.lamport.tla.toolbox.editor.basic.TLAEditorAndPDFViewer"
            default="false"
            extensions="pdf, tla"
            id="org.lamport.tla.toolbox.editor.basic.TLAEditorAndPDFViewer"
            name="TLA Editor And PDF Viewer">
      </editor>
   </extension>
 <extension
       id="org.lamport.tla.toolbox.editor.basic.DocumentSetup"
       name="org.lamport.tla.toolbox.editor.basic.DocumentSetup"
       point="org.eclipse.core.filebuffers.documentSetup">
    <participant
          class="org.lamport.tla.toolbox.editor.basic.TLADocumentSetupParticipant"
          extensions="tla"/>
 </extension>
    
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="helpContexts.xml"
            plugin="org.lamport.tla.toolbox.editor.basic">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Opens the declaration for the currently selected cross reference"
            id="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration"
            name="Open Declaration">
      </command>
      <command
            description="Toggles the comment at current position"
            id="org.lamport.tla.toolbox.editor.basic.ToggleCommentAction"
            name="Toggle Comment">
      </command>
      <command
            description="Format text"
            id="org.lamport.tla.toolbox.editor.basic.Format"
            name="Format">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.lamport.tla.toolbox.editor.basic.TLAEditor$OpenDeclarationHandler"
            commandId="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key 
            commandId="org.lamport.tla.toolbox.editor.basic.ToggleCommentAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/" />
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         		<menuContribution locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration">
			</command>
		</menuContribution>
           <menuContribution
                 locationURI="popup:#TextEditorContext?after=additions">
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.ToggleCommentAction">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.Format">
              </command>
              <command
                    commandId="org.eclipse.ui.edit.text.contentAssist.proposals">
              </command>
              <command
                    commandId="org.eclipse.ui.edit.text.contentAssist.contextInformation">
              </command>
           </menuContribution>
         
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="org.lamport.tla.tlaCode"
            name="TLA+ Editor">
         <context
               type="org.lamport.tla.toolbox.editor.basic.TLAEditor">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.lamport.tla.toolbox.editor.basic.tla.TLAHyperlinkDetector"
            id="toolbox.editor.basic.hyperlinkDetector.tla"
            name="TLA+ Hyperlink detector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
</plugin>
