<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            id="org.lamport.tla.toolbox.editor.basic.TLAEditor"
            name="TLA+ Basic Editor"
            extensions="tla"
            icon="icons/tla_obj.gif"
            contributorClass="org.lamport.tla.toolbox.editor.basic.TLAEditorActionContributor"
            class="org.lamport.tla.toolbox.editor.basic.TLAEditor">
      </editor>
      <editor
            class="org.lamport.tla.toolbox.editor.basic.TLAEditorAndPDFViewer"
            contributorClass="org.lamport.tla.toolbox.editor.basic.TLAMultiPageEditorActionBarContributor"
            default="false"
            extensions="pdf, tla"
            id="org.lamport.tla.toolbox.editor.basic.TLAEditorAndPDFViewer"
            name="TLA Editor And PDF Viewer">
      </editor>
      <editor
            class="org.lamport.tla.toolbox.editor.basic.TLAEditorReadOnly"
            default="false"
            extensions="tla"
            icon="icons/tla_obj.gif"
            id="org.lamport.tla.toolbox.editor.basic.TLAEditorReadOnly"
            name="TLA+ Read-Only Editor">
      </editor>
   </extension>
 <extension
       id="org.lamport.tla.toolbox.editor.basic.DocumentSetup"
       name="org.lamport.tla.toolbox.editor.basic.DocumentSetup"
       point="org.eclipse.core.filebuffers.documentSetup">
    <participant
          class="org.lamport.tla.toolbox.editor.basic.TLADocumentSetupParticipant"
          extensions="tla"/>
 </extension>
    
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="helpContexts.xml"
            plugin="org.lamport.tla.toolbox.editor.basic">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Opens the declaration for the currently selected cross reference"
            id="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration"
            name="Goto Declaration">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="Toggles the comment at current position"
            id="org.lamport.tla.toolbox.editor.basic.ToggleCommentAction"
            name="Toggle Comment">
      </command>
      <command
            description="Format text"
            id="org.lamport.tla.toolbox.editor.basic.Format"
            name="Format">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ExampleEditCommandHandler"
            description="Example of editor command"
            id="org.lamport.tla.toolbox.editor.basic.TestEditorCommand"
            name="Test Editor Command">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.FocusOnStepHandler"
            description="Shows all usable steps and their siblings, and shows immediate children, hides all others"
            id="org.lamport.tla.toolbox.editor.basic.FocusOnStep"
            name="Focus On Step">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.HideAllProofsHandler"
            description="Hides all proofs in module"
            id="org.lamport.tla.toolbox.editor.basic.FoldAllProofs"
            name="Hide All Proofs">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ShowAllProofsHandler"
            description="Shows all proofs in the module"
            id="org.lamport.tla.toolbox.editor.basic.ExpandAllProofs"
            name="Show All Proofs">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ShowSubtreeHandler"
            description="Shows the subtree containing the caret."
            id="org.lamport.tla.toolbox.editor.basic.ExpandSubtree"
            name="Show Current Subtree">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.HideSubtreeHandler"
            description="Hides the subtree containing the caret."
            id="org.lamport.tla.toolbox.editor.basic.CollapseSubtree"
            name="Hide Current Subtree">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ShowChildrenOnlyHandler"
            description="Shows the proof of the step containing the caret and collapses all subproofs."
            id="org.lamport.tla.toolbox.editor.basic.ShowImmediate"
            name="Show Children Only">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CursorMovementHandler"
            description="Moves cursor one character to the right (does nothing if at end of line)."
            id="org.lamport.tla.toolbox.editor.basic.charRight"
            name="Move Right One Character">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ExecuteNextCommandHandler"
            description="Executes the command represented by the next character."
            id="org.lamport.tla.toolbox.editor.basic.executeNextCommand"
            name="Execute Next Command">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CursorMovementHandler"
            description="Moves cursor one character to the left (does nothing if at end of line)."
            id="org.lamport.tla.toolbox.editor.basic.charLeft"
            name="Move Left One Character">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit1"
            id="org.lamport.tla.toolbox.editor.basic.alt1"
            name="Prefix 1">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 2"
            id="org.lamport.tla.toolbox.editor.basic.alt2"
            name="Prefix 2">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 3"
            id="org.lamport.tla.toolbox.editor.basic.alt3"
            name="Prefix 3">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 4"
            id="org.lamport.tla.toolbox.editor.basic.alt4"
            name="Prefix 4">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 5"
            id="org.lamport.tla.toolbox.editor.basic.alt5"
            name="Prefix 5">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 6"
            id="org.lamport.tla.toolbox.editor.basic.alt6"
            name="Prefix 6">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 7"
            id="org.lamport.tla.toolbox.editor.basic.alt7"
            name="Prefix 7">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 8"
            id="org.lamport.tla.toolbox.editor.basic.alt8"
            name="Prefix 8">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 9"
            id="org.lamport.tla.toolbox.editor.basic.alt9"
            name="Prefix 9">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.CommandPrefixDigitHandler"
            description="Numeric command-prefix digit 0"
            id="org.lamport.tla.toolbox.editor.basic.alt0"
            name="Prefix 0">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.BoxedCommentHandler"
            description="Inserts comment delimiters for starting a boxed comment."
            id="org.lamport.tla.toolbox.editor.basic.startBoxedComment"
            name="Start Boxed Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.BoxedCommentHandler"
            description="Puts a comment inside a box of asterisks."
            id="org.lamport.tla.toolbox.editor.basic.boxComment"
            name="Box Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.BoxedCommentHandler"
            description="Removes the box from around a boxed comment."
            id="org.lamport.tla.toolbox.editor.basic.unboxComment"
            name="Unbox Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.BoxedCommentHandler"
            description="Formats a comment for boxing."
            id="org.lamport.tla.toolbox.editor.basic.formatComment"
            name="Format Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.BoxedCommentHandler"
            description="Equivalent to executing Format then Box"
            id="org.lamport.tla.toolbox.editor.basic.formatAndBoxComment"
            name="Format and Box Comment">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.RenumberProofHandler"
            description="Renumbers steps of a statement&apos;s proof"
            id="org.lamport.tla.toolbox.editor.basic.renumberProof"
            name="Renumber Proof">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ReturnFromOpenDeclarationHandler"
            id="org.lamport.tla.toolbox.editor.basic.returnFromOpenDeclaration"
            name="Return From Goto Declaration">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ShowDeclarationsHandler"
            description="Displays a list of high-level declarations and definitions of the module."
            id="org.lamport.tla.toolbox.editor.basic.showDefinitions"
            name="Show Declarations">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.ShowUsesHandler"
            description="Show all uses of selected symbol"
            id="org.lamport.tla.toolbox.editor.basic.showUses"
            name="Show Uses">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.GotoNextUseHandler"
            description="Goes to the next use from the last Show Uses command"
            id="org.lamport.tla.toolbox.editor.basic.gotoNextUse"
            name="Goto Next Use">
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            defaultHandler="org.lamport.tla.toolbox.editor.basic.handlers.GotoPrevUseHandler"
            description="Goes to the previous use from the last Show Uses command"
            id="org.lamport.tla.toolbox.editor.basic.gotoPrevUse"
            name="Goto Prev Use">
      </command>

   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.lamport.tla.toolbox.editor.basic.TLAEditor$OpenDeclarationHandler"
            commandId="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <key 
            commandId="org.lamport.tla.toolbox.editor.basic.ToggleCommentAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/" />
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.TestEditorCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.FocusOnStep"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+F">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.FoldAllProofs"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+N">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.ExpandAllProofs"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+A">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.ExpandSubtree"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+S">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.CollapseSubtree"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+H">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.ShowImmediate"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+C">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+1">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt2"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+2">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt3"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+3">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt4"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+4">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt5"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+5">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt6"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+6">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt7"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+7">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt8"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+8">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt9"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+9">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.alt0"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+0">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.startBoxedComment"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O M1+S">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.boxComment"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O M1+B">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.unboxComment"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O M1+U">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.formatComment"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O M1+F">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.formatAndBoxComment"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O M1+O">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.renumberProof"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+G M1+R">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.returnFromOpenDeclaration"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F4">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.showDefinitions"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F5">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.showUses"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.gotoNextUse"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
      <key
            commandId="org.lamport.tla.toolbox.editor.basic.gotoPrevUse"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         		<menuContribution locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.lamport.tla.toolbox.tla.editor.hyperlinking.OpenDeclaration">
			</command>
   <command
         commandId="org.lamport.tla.toolbox.editor.basic.returnFromOpenDeclaration"
         style="push">
   </command>
   <command
         commandId="org.lamport.tla.toolbox.editor.basic.showDefinitions"
         style="push">
   </command>
   <command
         commandId="org.lamport.tla.toolbox.editor.basic.showUses"
         style="push">
   </command>
   <command
         commandId="org.lamport.tla.toolbox.editor.basic.gotoNextUse"
         style="push">
   </command>
   <command
         commandId="org.lamport.tla.toolbox.editor.basic.gotoPrevUse"
         style="push">
   </command>
		</menuContribution>
           <menuContribution
                 locationURI="popup:#TextEditorContext?after=additions">
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.ToggleCommentAction">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.Format">
              </command>
              <command
                    commandId="org.eclipse.ui.edit.text.contentAssist.proposals">
              </command>
           </menuContribution>
           <menuContribution
                 locationURI="popup:#TextEditorContext?after=foldCommands">
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.ExpandAllProofs"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.FoldAllProofs"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.ExpandSubtree"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.CollapseSubtree"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.ShowImmediate"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.FocusOnStep"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.renumberProof"
                    style="push">
              </command>
              <separator
                    name="org.lamport.tla.toolbox.editor.basic.commentseparator"
                    visible="true">
              </separator>
           </menuContribution>
           <menuContribution
                 locationURI="popup:#TextEditorContext?after=org.lamport.tla.toolbox.editor.basic.commentseparator">
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.startBoxedComment"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.formatComment"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.boxComment"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.formatAndBoxComment"
                    style="push">
              </command>
              <command
                    commandId="org.lamport.tla.toolbox.editor.basic.unboxComment"
                    style="push">
              </command>
           </menuContribution>
         
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="org.lamport.tla.tlaCode"
            name="TLA+ Editor">
         <context
               type="org.lamport.tla.toolbox.editor.basic.TLAEditor">
         </context>
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.lamport.tla.toolbox.editor.basic.tla.TLAHyperlinkDetector"
            id="toolbox.editor.basic.hyperlinkDetector.tla"
            name="TLA+ Hyperlink detector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   <extension
         id="org.lamport.tla.toolbox.editor.basic.readOnly"
         name="Read Only Module"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="org.lamport.tla.toolbox.editor.basic.isReadOnly">
      </attribute>
   </extension>
   
   
   <extension
         id="org.lamport.tla.toolbox.editor.basic.showUse"
         name="Type representing a use of a symbol"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.bookmark"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="org.lamport.tla.toolbox.editor.basic.showUse"
            name="org.lamport.tla.toolbox.editor.basic.showUse">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.lamport.tla.toolbox.editor.basic.showUse"
            colorPreferenceKey="fcsCPK"
            colorPreferenceValue="183,235,255"
            highlightPreferenceKey="fcsHPK"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Show Use"
            overviewRulerPreferenceKey="fcsORPK"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="fcsTPK"
            textPreferenceValue="true"
            textStylePreferenceKey="fcsSPK"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceValue="true">
      </specification>"
   </extension>
   <extension
         point="org.lamport.tla.toolbox.spec">
      <participant
            class="org.lamport.tla.toolbox.editor.basic.handlers.ShowUsesParseResultListener">
      </participant>
   </extension>
   
</plugin>
