<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="TLA+ Toolbox" sequenceNumber="86">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="0.0.0"/>
<unit id="javax.activation" version="0.0.0"/>
<unit id="javax.mail" version="0.0.0"/>
<unit id="org.easymock" version="0.0.0"/>
<repository id="eclipse-orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="org.apache.commons.lang3" version="0.0.0"/>
<repository id="eclipse-orbit-newer" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532//repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.help.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.configuration.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.common.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
<repository id="eclipse" location="http://download.eclipse.org/eclipse/updates/4.27/R-4.27-202303020300/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.vonloesch.pdf4eclipse.feature.feature.group" version="0.0.0"/>
<repository id="github-pdf4eclipse" location="http://lemmster.de/Pdf4Eclipse/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.lamport.openjdk.feature.feature.group" version="0.0.0"/>
<repository id="github-jdk" location="http://lemmster.de/eclipse-jdk-bundles/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.abstratt.eclipsegraphviz.feature.feature.group" version="0.0.0"/>
<repository id="abstratt" location="jar:https://raw.githubusercontent.com/tlaplus/tlaplus/master/toolbox/org.lamport.tla.toolbox.product.product/cachedTargetPlatform/com.abstratt.eclipsegraphviz.repository-2.5.201812.zip!/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.feature.group" version="0.0.0"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="0.0.0"/>
<repository id="eclipse-mylyn" location="http://download.eclipse.org/mylyn/releases/3.24"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
</target>