<!-- Style sheet for the help book -->

body { background : #ffffe4
       font-family : verdana
       font-size : 17 }
h1 {color : #0000c0; font-size:175% }
h2 {color : #0000c0; }
hr {color:#0000c0;}
