<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="configurationName" value="Model_7"/>
<stringAttribute key="modelBehaviorFairness" value=""/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value="Next"/>
<stringAttribute key="modelBehaviorSpec" value=""/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="x, y"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
<listAttribute key="modelCorrectnessInvariants"/>
<listAttribute key="modelCorrectnessProperties">
<listEntry value="1[][y'&gt;y]_y"/>
</listAttribute>
<listAttribute key="modelParameterConstants"/>
<intAttribute key="numberOfWorkers" value="2"/>
<stringAttribute key="specName" value="MTest5"/>
<stringAttribute key="specRootFile" value="C:\users\lamport\tla\tla2\general\tests\MTest5.tla"/>
</launchConfiguration>
