<!-- Style sheet for the help book -->

body { background : #ffffe4
       font-family : verdana
       font-size : 100% }
p { font-size : 120%}
h1 {color : #0000c0; font-size:200% }
h2 {color : #0000c0; }
h3 {color : #0000c0; }
hr {color:#0000c0;}
