<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:toolbox.file.menu?after=toolbox.file.translation.separator">
         <command
               commandId="toolbox.command.tla2tex.producePDF"
               label="Produce PDF Version"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <not>
                     <equals
                           value="org.lamport.tla.toolbox.ui.perspective.initial">
                     </equals>
                  </not>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="toolbox.command.category.module"
            description="Produce PDF Version of selected module"
            id="toolbox.command.tla2tex.producePDF"
            name="Produce PDF Version">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.lamport.tla.toolbox.tool.tla2tex.handler.ProducePDFHandler"
            commandId="toolbox.command.tla2tex.producePDF">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.lamport.tla.toolbox.editor.basic.TLAEditorAndPDFViewer">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="toolbox.ui.preferences.GeneralPreferencePage"
            class="org.lamport.tla.toolbox.tool.tla2tex.preference.TLA2TeXPreferencePage"
            id="toolbox.tool.tla2tex.preference.TLA2TeXPreferencePage"
            name="PDF Viewer Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.lamport.tla.toolbox.tool.tla2tex.preference.TLA2TeXPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
