<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!--              -->
<!-- Application  -->
<!--              -->
   <extension
         id="org.lamport.tla.toolbox.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.lamport.tla.toolbox.Application">
         </run>
      </application>
   </extension>
<!--              -->
<!-- Product      -->
<!--              -->
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.lamport.tla.toolbox.application"
            name="TLA+ Toolbox">
         <property
               name="windowImages"
               value="icons/full/etool16/tla_launch_check_wiz.gif">
         </property>
         <property
               name="aboutText"
               value="The TLA+ Toolbox provides a user interface for TLA+ Tools. &#x0A;&#x0A;This is Version 1.3.1 of 24 January 2011 and includes: &#x0A; - SANY Version 2.0 of 9 March 2010 &#x0A; - TLC Version 2.03 of 26 May 2010 &#x0A; - PlusCal Version 1.5 of 23 January 2011 &#x0A; - TLATeX Version .9 of 19 September 2007 &#x0A;&#x0A;Don&apos;t forget to click on help.  You can learn about features that you never knew about or have forgotten. &#x0A;&#x0A;Please send us reports of problems or suggestions; see http://www.tlaplus.net .">
         </property>
         <property
               name="aboutImage"
               value="splash_small.bmp">
         </property>
         <property
               name="appName"
               value="TLA+ Toolbox">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   
   <!--       -->
   <!-- Intro -->
   <!--       -->
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.lamport.tla.toolbox.product.standalone.intro">
      </intro>
      <introProductBinding
            introId="org.lamport.tla.toolbox.product.standalone.intro"
            productId="org.lamport.tla.toolbox.product.standalone.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="org.lamport.tla.toolbox.product.standalone.intro"
            content="introContent.xml"
            id="org.lamport.tla.toolbox.product.standalone.intro.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="org.lamport.tla.toolbox.product.standalone.intro.configId">
      </configExtension>
   </extension>
   
   
   <!-- Navogator -->
   <!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="toolbox.view.Navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension></includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="toolbox.view.Navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>    
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="toolbox.view.Navigator"
            name="Spec Navigator"
            restorable="true">
      </view>
   </extension>
 -->   
</plugin>
