<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

<!--              -->
<!-- Application  -->
<!--              -->
   <extension
         id="org.lamport.tla.toolbox.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.lamport.tla.toolbox.Application">
         </run>
      </application>
   </extension>
<!--              -->
<!-- Product      -->
<!--              -->
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.lamport.tla.toolbox.application"
            name="TLA+ Toolbox">
         <property
               name="windowImages"
               value="platform:/plugin/org.lamport.tla.toolbox/icons/full/etool16/tla_launch_check_wiz_16.png,platform:/plugin/org.lamport.tla.toolbox/icons/full/etool16/tla_launch_check_wiz_32.png,platform:/plugin/org.lamport.tla.toolbox/icons/full/etool16/tla_launch_check_wiz_48.png,platform:/plugin/org.lamport.tla.toolbox/icons/full/etool16/tla_launch_check_wiz_64.png,platform:/plugin/org.lamport.tla.toolbox/icons/full/etool16/tla_launch_check_wiz_128.png,platform:/plugin/org.lamport.tla.toolbox/icons/full/etool16/tla_launch_check_wiz_256.png">
         </property>
         <property
               name="aboutText"
               value="TLA+ Toolbox provides a user interface for TLA+ Tools. &#x0A;&#x0A;This is Version 1.5.1 of 1 June 2015 and includes:&#x0A;  - SANY Version 2.1 of 24 February 2014&#x0A;  - TLC Version 2.07 of 1 June 2015&#x0A;  - PlusCal Version 1.8 of 18 August 2015&#x0A;  - TLATeX Version 1.0 of 12 April 2013&#x0A;&#x0A;Don&apos;t forget to click on help.  You can learn about features that you never knew about or have forgotten.&#x0A;&#x0A;Please send us reports of problems or suggestions; see https://groups.google.com/d/forum/tlaplus .">
         </property>
         <property
               name="aboutImage"
               value="images/splash_small.png">
         </property>
         <property
               name="appName"
               value="TLA+ Toolbox">
         </property>
      </product>
   </extension>
   
   <!--       -->
   <!-- Intro -->
   <!--       -->
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.lamport.tla.toolbox.ui.intro.ToolboxIntoPart"
            id="org.lamport.tla.toolbox.product.standalone.intro">
      </intro>
      <introProductBinding
            introId="org.lamport.tla.toolbox.product.standalone.intro"
            productId="org.lamport.tla.toolbox.product.standalone.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="toolbox.menu.help"
               label="Help"
               mnemonic="H"
               tooltip="Opens the help menu">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  id="toolbox.menuItem.checkForUpdates"
                  label="Check for Updates"
                  mnemonic="c"
                  mode="FORCE_TEXT"
                  style="push"
                  tooltip="Checks the web for a newer Toolbox version">
            </command>
         </menu>
      </menuContribution>
   </extension>

   <!-- Add the update scheduler as a root preference page to the product defining bundle -->  
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.eclipse.equinox.internal.p2.ui.sdk.scheduler.AutomaticUpdateScheduler">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.equinox.internal.p2.ui.sdk.scheduler.AutomaticUpdatesPreferencePage"
            id="org.eclipse.equinox.internal.p2.ui.sdk.scheduler.AutomaticUpdatesPreferencePage"
            name="Automatic Update">
            <keywordReference id="org.eclipse.equinox.p2.ui.sdk.updates.general"/>
      </page>
   </extension>
   
   <!-- Navogator -->
   <!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="toolbox.view.Navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension></includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="toolbox.view.Navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>    
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="toolbox.view.Navigator"
            name="Spec Navigator"
            restorable="true">
      </view>
   </extension>
 -->   
</plugin>
