*.old
/MPNoParams.cfg
/CallReturn1.cfg
/Euclid2.cfg
/EvenOdd.cfg
/EvenOddBad.cfg
/Factorial.cfg
/Factorial2.cfg
/InnerLabeledIf.cfg
/MultiAssignment.cfg
/MultiProc2.cfg
/MultiprocDefine.cfg
/NoLoop.cfg
/NoLoop2.cfg
/NoParams.cfg
/NotSoSimpleLoop.cfg
/Quicksort.cfg
/SimpleLoop.cfg
/SimpleLoopWithProcedure.cfg
/SimpleMultiProc.cfg
/TestTabs.cfg
/UniprocDefine.cfg
/bug_05_10_03.cfg
/bug_05_12_10a.cfg
/bug_05_12_16b.cfg
/bug_05_12_31.cfg
/bug_06_01_25.cfg
/bug_07_03_30.cfg
/bug_07_06_05.cfg
/Either1.cfg
/Either2.cfg
/Either3.cfg
/Either4.cfg
/Either5.cfg
/Euclid3.cfg
/MPFactorial.cfg
/MPFactorial2.cfg
/TestReplace.cfg
/SubSub.cfg
/TestPCandStack.cfg
/Test.cfg
/ULCallReturn1.cfg
/ULFactorial2.cfg
/ReallySimpleMultiProc.cfg
/NestedMacros.cfg
/FairSeq2.cfg
/DiningPhilosophers2.cfg
/CallReturn2.cfg
/CCallReturn1.cfg
/CMultiprocDefine.cfg
/CEither1.cfg
/StackTest.cfg
