<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TLA+ Toolbox" sequenceNumber="62">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.contribution.weaving.feature.group" version="2.2.3.e42x-RELEASE-20130625-1400"/>
<unit id="org.aspectj.weaver" version="1.7.3.20130613144500-a"/>
<repository location="http://download.eclipse.org/tools/ajdt/42/update"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.vonloesch.pdf4eclipse.feature.feature.group" version="1.0.1.201502251926"/>
<repository location="http://tla.msr-inria.inria.fr/pdf4eclipse/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="com.jcraft.jsch.source" version="0.1.46.v201205102330"/>
<unit id="com.jcraft.jsch" version="0.1.46.v201205102330"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.jclouds.feature.feature.group" version="0.0.0"/>
<repository location="http://tla.msr-inria.inria.fr/jclouds2p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.id" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.help.feature.group" version="2.0.103.v20150204-1700"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.10.2.v20150203-1939"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.platform.ide" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.rcp.configuration.feature.group" version="1.0.3.v20150204-1745"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.10.2.v20150123-0348"/>
<unit id="org.eclipse.equinox.executable" version="3.6.102.v20150204-1316"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20141221-2352"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.3.101.v20150204-1353"/>
<unit id="org.eclipse.platform.sdk" version="4.4.2.M20150204-1700"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.10.1.v20150123-0348"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.2.v20150204-1316"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.2.v20150203-1939"/>
<unit id="org.eclipse.sdk.ide" version="4.4.2.M20150204-1700"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4/R-4.4.2-201502041700"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
