<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="TLA+ Toolbox" sequenceNumber="82">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.contribution.weaving.feature.group" version="2.2.4.201704242114"/>
<unit id="org.eclipse.ajdt.feature.group" version="2.2.4.201704242114"/>
<repository id="eclipse-ajdt" location="http://download.eclipse.org/tools/ajdt/47/dev/update/ajdt-e47-2.2.4.201704242114/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="com.jcraft.jsch.source" version="0.1.46.v201205102330"/>
<unit id="com.jcraft.jsch" version="0.1.46.v201205102330"/>
<unit id="org.apache.commons.io.source" version="2.0.1.v201105210651"/>
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="javax.activation" version="1.1.0.v201211130549"/>
<unit id="javax.mail" version="1.4.0.v201005080615"/>
<unit id="org.easymock" version="2.4.0.v20090202-0900"/>
<repository id="eclipse-orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20140114142710/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.6.0.201706141832"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.6.0.201706141832"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.6.0.201706141832"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.6.0.201706141832"/>
<repository id="eclipse-swtbot" location="http://download.eclipse.org/technology/swtbot/releases/2.6.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.jclouds.feature.feature.group" version="0.0.0"/>
<repository location="http://lemmy.github.com/jclouds2p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rcp.id" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.help.feature.group" version="2.2.104.v20180330-0640"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.13.2.v20180210-1608"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.platform.ide" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.rcp.configuration.feature.group" version="1.1.4.v20180330-0640"/>
<unit id="org.eclipse.emf.ecore.feature.group" version="2.13.0.v20170609-0707"/>
<unit id="org.eclipse.equinox.executable" version="3.7.2.v20171108-1834"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.4.0.v20170516-2248"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.6.3.v20180329-0507"/>
<unit id="org.eclipse.platform.sdk" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.13.0.v20170609-0707"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.4.v20180322-2228"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.2.v20180210-1608"/>
<unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
<repository id="eclipse" location="http://download.eclipse.org/eclipse/updates/4.7/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.vonloesch.pdf4eclipse.feature.feature.group" version="0.0.0"/>
<repository location="http://lemmy.github.com/Pdf4Eclipse/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.abstratt.eclipsegraphviz.feature.feature.group" version="2.1.201501.201606262232"/>
<repository location="jar:http://repository-textuml.forge.cloudbees.com/snapshot/com/abstratt/eclipsegraphviz/com.abstratt.eclipsegraphviz.repository/2.1.201501/com.abstratt.eclipsegraphviz.repository-2.1.201501.zip!/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.recommenders.news.rcp.feature.feature.group" version="2.5.0.v20171201-1623"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170919201930/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.21.0.v20160707-1856"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="1.13.0.v20160721-2347"/>
<repository location="http://download.eclipse.org/mylyn/releases/3.21"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
